## For_loop
iterating

In [58]:
import getpass

fruits = []
dic = dict(name="koji",age=25)
se = {1,2,3}
x = "i love python"

fruits = ["apple", "pawpaw", "orange", "pear", "mango"] 

"""
for "<buffer>" in "<list>":
    print("<buffer>")
"""
 
for fruit in  fruits:
    print(fruit)

apple
pawpaw
orange
pear
mango

## we can iterate over a dict

In [9]:
user_data = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"), 
  "pets": None,
  "cars": [ {"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1} ]
}

"""
for "<buffer>" in "<list>":
    print("<buffer>")
"""
for key in user_data:
    print(key)

name
age
married
divorced
children
pets
cars

## to get each value

In [14]:
for key,value in user_data.items():
    print(key,value)

name John
age 30
married True
divorced False
children ('Ann', 'Billy')
pets None
cars [{'model': 'BMW 230', 'mpg': 27.5}, {'model': 'Ford Edge', 'mpg': 24.1}]

## we can iterate over a set

In [15]:
se = {1,2,3}
for i in se:
    print(i)

1
2
3

In [16]:
x = "i love python"
for each in x:
    print(each)

i

l
o
v
e

p
y
t
h
o
n

## iterate with conditions

In [21]:
numbers = list(range(10))

for number in [0,1,2,3,4,5,6,7,8,9]:
    if number == 5:
        print(number)

5

In [33]:
### ToDo

"""
for i in numbers:
    if i == 5:
        continue
    else:
        count = count + 1 # count +=1
"""

6

In [40]:
names = ["Koji","bello","class","school",2]

for name in names:
    if "Koji" == name:
        print("found koji")

found koji

In [43]:

fruits = ["apple", "pawpaw", "orange", "pear", "mango"] 
new_list = []

for fruit in fruits:
    if "pear" == fruit:
        new_list.append("pear")
print(new_list)

['pear']

In [45]:
numbers = list(range(100))

for number in numbers:
    if number % 2 == 0:
        print(f"found even number: {number}")

found even number: 0
found even number: 2
found even number: 4
found even number: 6
found even number: 8
found even number: 10
found even number: 12
found even number: 14
found even number: 16
found even number: 18
found even number: 20
found even number: 22
found even number: 24
found even number: 26
found even number: 28
found even number: 30
found even number: 32
found even number: 34
found even number: 36
found even number: 38
found even number: 40
found even number: 42
found even number: 44
found even number: 46
found even number: 48
found even number: 50
found even number: 52
found even number: 54
found even number: 56
found even number: 58
found even number: 60
found even number: 62
found even number: 64
found even number: 66
found even number: 68
found even number: 70
found even number: 72
found even number: 74
found even number: 76
found even number: 78
found even number: 80
found even number: 82
found even number: 84
found even number: 86
found even number: 88
found even number: 90
found even number: 92
found even number: 94
found even number: 96
found even number: 98

In [47]:

for number in [0,1,2,3,4,4,5,6,7,8,9,10]:
    if number == 6:
        break
    print(number)

0
1
2
3
4
5

## For_loop with an else block

In [ ]:

# expect an input = [password]
# print("login successful")
# 2 time more

user_password = "koji"
user_login = getpass.getpass("enter password: ")

for i in range(1,4):
    print(f"Attempt {i}")
    
    if user_login == user_password:
        print("login successfulðŸ˜Œ")
        break
else:
    print("Attempted 3 times and failed")

In [19]:

products = [( "Product1", 10),("Product2", 14),("Product3", 189),("Product4", 20),("Product5", 30)]

for product,price in products:
    if price >= 30:
        print(product,price)

Product3 189
Product5 30

In [33]:
products = [( "Product1", 10),("Product2", 14),("Product3", 189),("Product4", 20),("Product5", 30)]


new_price = []
for product,price in products:
    new_price.append(price)
print(new_price)


## list comprehension
product = [product[1] for product in products]
print(product)

[10, 14, 189, 20, 30]
[10, 14, 189, 20, 30]

In [34]:

x = "koji bello python one"
item = [i for i in x]
print(item)

['k', 'o', 'j', 'i', ' ', 'b', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'o', 'n', 'e']

In [35]:
x = "koji bello python one"
new_list = []
for i in x:
    new_list.append(i)
print(new_list)

['k', 'o', 'j', 'i', ' ', 'b', 'e', 'l', 'l', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n', ' ', 'o', 'n', 'e']

In [ ]:
x = "sentence"